Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

fix(media): switch recyclarr to SQP
  k8s/clusters/cluster-0/manifests/media/recyclarr/recyclarr.yml
Labels: area/kubernetes

fix(media): increase plex mem limit
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
Labels: area/kubernetes

fix: up arr memory limit
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: plex resource typo
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
Labels: area/kubernetes

update cilium
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

feat(cluster): deploy spegel
  k8s/clusters/cluster-0/flux/orchestration/core-kube-system.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/kustomization.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/spegel.yaml
  k8s/clusters/cluster-0/manifests/kube-system/spegel/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/kube-system/spegel/kustomization.yaml
  k8s/clusters/cluster-0/manifests/kube-system/spegel/kustomizeconfig.yaml
  k8s/clusters/cluster-0/manifests/kube-system/spegel/values.yaml
Labels: area/kubernetes

fix(monitoring): kromgo thanos endpoint update
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

upgrade cilium
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

fix(external-dns): create replace crds
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes

feat(home): deploy govee2mqtt
  k8s/clusters/cluster-0/flux/orchestration/apps-home.yaml
  k8s/clusters/cluster-0/manifests/home/govee2mqtt/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/home/govee2mqtt/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/govee2mqtt/kustomization.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes

fix(media): update sonarr profiles
  k8s/clusters/cluster-0/manifests/media/recyclarr/recyclarr.yml
Labels: area/kubernetes

feat: deploy pg-vector cluster
  k8s/clusters/cluster-0/flux/orchestration/apps-database.yaml
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster-vectors/kustomization.yaml
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster-vectors/scheduledbackup.yaml
Labels: area/kubernetes

feat: deploy Immich
  k8s/clusters/cluster-0/flux/orchestration/apps-collab.yaml
  k8s/clusters/cluster-0/manifests/collab/immich/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/collab/immich/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/collab/immich/kustomization.yaml
  k8s/clusters/cluster-0/manifests/collab/immich/pvc.yaml
  priv.yaml
Labels: area/kubernetes

fix: dragonfly allow-undeclared-keys
  k8s/clusters/cluster-0/manifests/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

fix: set proxy body size to unlimited
  k8s/clusters/cluster-0/manifests/collab/immich/helmrelease.yaml
Labels: area/kubernetes

fix: update ingress settings
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix: increase nginx mem limit 500Mi
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix: migrate frigate recording config
  k8s/clusters/cluster-0/manifests/home/frigate/config.yaml
Labels: area/kubernetes

fix: enable metrics var
  k8s/clusters/cluster-0/manifests/collab/immich/helmrelease.yaml
Labels: area/kubernetes

fix: increase external nginx limit
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
Labels: area/kubernetes

feat: add ana paperless instance
  k8s/clusters/cluster-0/flux/orchestration/apps-collab.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/kustomization.yaml
Labels: area/kubernetes

fix: bump app charts
  k8s/clusters/cluster-0/manifests/collab/immich/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/database/dragonfly/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/govee2mqtt/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-services/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/autobrr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/overseerr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/recyclarr/cron-job.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes

fix: disable vpn
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix: update helm repos interval
  k8s/clusters/cluster-0/flux/repositories/helm/spegel.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes

Revert "feat(container): update image joplin/server to 3.3.1 (#5746)"
  k8s/clusters/cluster-0/manifests/collab/joplin-server/helm-release.yaml
Labels: area/kubernetes

Revert "fix(container): update image mariadb to 20.2.4 (#5734)"
  k8s/clusters/cluster-0/manifests/home/monica/database/helm-release.yaml
Labels: area/kubernetes

Fix kubernetes logo
  README.md
Labels: none

enable backup compression
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix: restart backup
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat: disable jellyfin
  k8s/clusters/cluster-0/flux/orchestration/apps-media.yaml
Labels: area/kubernetes

remove paperless instance
  k8s/clusters/cluster-0/flux/orchestration/apps-collab.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/ana/kustomization.yaml
Labels: area/kubernetes

rename multus interface
  k8s/clusters/cluster-0/manifests/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

belay that capt
  k8s/clusters/cluster-0/manifests/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

fix: backup ntfy pvc
  k8s/clusters/cluster-0/manifests/collab/ntfy/kustomization.yaml
  k8s/clusters/cluster-0/manifests/collab/ntfy/volsync.yaml
Labels: area/kubernetes

fix: use external urls
  k8s/clusters/cluster-0/manifests/media/kometa/configs/config.yml
Labels: area/kubernetes

fix(container): update image ghcr.io/nginxinc/nginx-unprivileged to
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

enable firefly backup
  k8s/clusters/cluster-0/manifests/collab/firefly-iii/app/volsync.yaml
Labels: area/kubernetes

chore: update restore task
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
Labels: area/taskfile

Fix badge
  README.md
Labels: none

feat!: Update git repository Url
  kubernetes/apps/flux-system/flux-operator/instance/helm-values.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
