Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Revert "feat(helm): update chart mariadb to 20.1.0 (#5445)"
  k8s/clusters/cluster-0/manifests/home/monica/database/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart loki to 6.22.0 (#5446)"
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/onedr0p/home-assistant to 2024.12.1 (#5470)"
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/onedr0p/home-assistant to 2024.12.1 (#5470)"
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(monitoring): Migrate Thanos to Stevehipwell Chart
  k8s/clusters/cluster-0/flux/repositories/helm/kustomization.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/stevehipwell.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/config/cache.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/kustomization.yaml
Labels: area/kubernetes

fix(monitoring): add namespace
  k8s/clusters/cluster-0/manifests/monitoring/thanos/kustomization.yaml
Labels: area/kubernetes

fix(monitoring): fix type
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(monitoring): disable bucket tls
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(grafana): update Thanos data source
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(rook-ceph): thanos endpoint
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(monitoring): Migrate Thanos to Stevehipwell Chart
  k8s/clusters/cluster-0/flux/repositories/helm/kustomization.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/stevehipwell.yaml
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/config/cache.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/thanos/kustomization.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(flux): switch buttnami to oci
  k8s/clusters/cluster-0/manifests/home/monica/database/helm-release.yaml
  k8s/global/flux/repositories/helm/bitnami-charts.yaml
  k8s/global/flux/repositories/helm/k8s-at-home-charts.yaml
  k8s/global/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(monitoring): thanos config
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(talos): upgrade config to v1.9.0
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(cluster): Upgrade Talos to v1.9.1
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: spacing
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

feat(cluster): Upgrade Talos to v1.9.1
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
Labels: area/kubernetes

fix(monitoring): clear down metrics
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(monitoring): 5m resolution min 10d
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(media): overseerr volume label
  k8s/clusters/cluster-0/manifests/media/overseerr/pvc.yaml
Labels: area/kubernetes

fix: increase emqx pvc size
  k8s/clusters/cluster-0/manifests/home/emqx/helm-release.yaml
Labels: area/kubernetes

fix: increase pvc to 1Gi
  k8s/clusters/cluster-0/manifests/home/emqx/helm-release.yaml
Labels: area/kubernetes

fix(talos): re-enable coredns
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix(cilium): update quickstart
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

chore: remove ansible
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/router/ansible.cfg
  infrastructure/ansible/router/inventory/group_vars/all/frr_exporter.yml
  infrastructure/ansible/router/inventory/group_vars/all/k8s_gateway.yml
  infrastructure/ansible/router/inventory/hosts.yml
  infrastructure/ansible/router/playbooks/apps.yml
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/handlers/main.yml
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/tasks/main.yml
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/templates/99-frr_exporter.j2
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/templates/actions_frr_exporter.conf.j2
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/templates/frr_exporter-newsyslog.conf.j2
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/templates/frr_exporter-rc.conf.j2
  infrastructure/ansible/router/playbooks/roles/frr_exporter.router/templates/frr_exporter-rc.d.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/handlers/main.yml
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/tasks/main.yml
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/99-k8s_gateway.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/Corefile.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/actions_k8s_gateway.conf.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/k8s_gateway-newsyslog.conf.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/k8s_gateway-rc.conf.j2
  infrastructure/ansible/router/playbooks/roles/k8s_gateway.router/templates/k8s_gateway-rc.d.j2
  infrastructure/ansible/router/playbooks/setup.yml
Labels: none

fix(monitoring): restore metrics retention to previous values
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart ingress-nginx to 4.12.0 (#5567)"
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix(network): fix nginx annotations
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix: we can't have both?
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix: replace TubeZB (rip) with SLZB-06
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/patches/env.yaml
Labels: area/kubernetes

fix(vpn): Gluetun addon image tag syntax
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(remove): remove HASS from Authentik
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(home): set ingress class to external
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(home): combine wyoming services
  k8s/clusters/cluster-0/flux/orchestration/apps-home.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-piper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-piper/kustomization.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-services/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-services/kustomization.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-services/resources/hey_piper.tflite
  k8s/clusters/cluster-0/manifests/home/wyoming-whisper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-whisper/kustomization.yaml
Labels: area/kubernetes

fix: yoink Devin k8s tasks
  .taskfiles/k8s/tasks.yaml
Labels: area/taskfile

fix(home): 2.0 moved homeassistant to config root
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/patches/env.yaml
Labels: area/kubernetes

fix(home): zibee2mqtt v2 breaking change to homeassistant config
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/patches/env.yaml
Labels: area/kubernetes

fix(home): z2m boost transmit power
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/patches/env.yaml
Labels: area/kubernetes

chore: remove pre-commit hooks
  .pre-commit-config.yaml
Labels: none

feat(cilium): enable bgp
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/bgppeeringpolicy.yaml
Labels: area/kubernetes
