Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to 2.2.0
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/taxel/plextraktsync to 0.27.14
  k8s/clusters/cluster-0/manifests/media/plex-trakt-sync/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.5.1
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.2
  k8s/clusters/cluster-0/manifests/kyverno/base/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.12.4
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.740
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

chore: rm git-crypt
  .gitattributes
Labels: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to 2.2.1
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/taxel/plextraktsync to 0.27.15
  k8s/clusters/cluster-0/manifests/media/plex-trakt-sync/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.4.4172
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.742
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: so it begins
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
  k8s/global/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.746
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4176
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4178
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.14.2354
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.747
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4180
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to 1.35.0
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 8.2.0
  infrastructure/ansible/requirements.yml
Labels: none

feat(container): update image docker.io/qmcgaw/gluetun to v3.37.0
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.749
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.29.1
  k8s/clusters/cluster-0/manifests/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4186
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.60
  k8s/clusters/cluster-0/manifests/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/sabnzbd to 4.2.0
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/raylas/nextdns-exporter to 0.5.3
  k8s/clusters/cluster-0/manifests/monitoring/nextdns-exporter/helm-release.yaml
Labels: area/kubernetes

fix(github-release): update raylas/nextdns-exporter to 0.5.3
  k8s/clusters/cluster-0/manifests/monitoring/nextdns-exporter/dashboard/kustomization.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/home-assistant to 2024.1.0
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.751
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.5.2
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(container)!: Update image thecodingmachine/gotenberg to 8.0.0
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4187
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/bjw-s/calibre-web to
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.6.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sabnzbd to 4.2.1
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.3
  k8s/clusters/cluster-0/manifests/kyverno/base/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2024.1.1
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.12.0.4188
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/global/**/*"
      - any-glob-to-any-file: "k8s/clusters/**/*"
