Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(cluster): update nameservers
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix(home): raise home-assistant memory limit
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(cluster): remove chrony
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/flux/orchestration/core-kube-system.yaml
  k8s/clusters/cluster-0/manifests/kube-system/chrony/daemonset.yaml
  k8s/clusters/cluster-0/manifests/kube-system/chrony/kustomization.yaml
Labels: area/kubernetes

fix(breaking): set GEOIPUPDATE_VERBOSE to "1"
  k8s/clusters/cluster-0/manifests/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix: breaking
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(monitoring): Loki storage breaking changes
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix: more Loki config tweaks
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix: removals
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

remove botkube
  k8s/clusters/cluster-0/flux/orchestration/core-monitoring.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-0/manifests/monitoring/botkube/botkube-communications-secret.enc.yaml
  k8s/clusters/cluster-0/manifests/monitoring/botkube/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/botkube/kustomization.yaml
Labels: area/kubernetes

adjust limits config
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

test
  README.md
Labels: none

Revert "test"
  README.md
Labels: none

fix(monitoring): increase metrics retention 90d
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

frigate door cam
  k8s/clusters/cluster-0/manifests/home/frigate/config.yaml
Labels: area/kubernetes

fix: frigate config dir
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix: enable go2rtc streams
  k8s/clusters/cluster-0/manifests/home/frigate/config.yaml
Labels: area/kubernetes

fix: hrm
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

yaml?
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix(monitoring): snmp exporter ups
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/config-map.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/dashboard/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/resources/config-map.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/resources/dashboard.json
Labels: area/kubernetes

fix(monitoring): remove invalid version
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/resources/config-map.yaml
Labels: area/kubernetes

feat(router): configure dnsdist
  infrastructure/ansible/router/playbooks/apps.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/handlers/main.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/tasks/main.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/99-dnsdist.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/actions_dnsdist.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-newsyslog.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-rc.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-rc.d.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist.conf.j2
Labels: none

Revert "feat(router): configure dnsdist"
  infrastructure/ansible/router/playbooks/apps.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/handlers/main.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/tasks/main.yml
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/99-dnsdist.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/actions_dnsdist.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-newsyslog.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-rc.conf.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist-rc.d.j2
  infrastructure/ansible/router/playbooks/roles/dnsdist.router/templates/dnsdist.conf.j2
Labels: none

feat(media): migrate pmm to kometa
  k8s/clusters/cluster-0/flux/orchestration/apps-media.yaml
  k8s/clusters/cluster-0/manifests/media/kometa/configs/Pre-rolls.yml
  k8s/clusters/cluster-0/manifests/media/kometa/configs/config.yml
  k8s/clusters/cluster-0/manifests/media/kometa/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/media/kometa/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/media/kometa/kustomization.yaml
  k8s/clusters/cluster-0/manifests/media/kometa/pvc.yaml
  k8s/clusters/cluster-0/manifests/media/kometa/volsync.yaml
  k8s/clusters/cluster-0/manifests/media/plex-meta-manager/scripts/run.sh
Labels: area/kubernetes

fix(media): don't nuke pmm pvc
  k8s/clusters/cluster-0/manifests/media/kometa/helmrelease.yaml
Labels: area/kubernetes

fix(media): keep pmm pvc
  k8s/clusters/cluster-0/manifests/media/kometa/pvc.yaml
Labels: area/kubernetes

fix(media): update kometa config
  k8s/clusters/cluster-0/manifests/media/kometa/configs/config.yml
Labels: area/kubernetes

feat(cluster): enable jumbo frames
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix(media): kometa backup
  k8s/clusters/cluster-0/manifests/media/kometa/volsync.yaml
Labels: area/kubernetes

fix: add system to nfd sources
  k8s/clusters/cluster-0/manifests/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

fix: update renovate custom
  .github/renovate.json5
  .github/renovate/allowedVersions.json
  .github/renovate/autoMerge.json
  .github/renovate/commitMessage.json
  .github/renovate/groups.json
  .github/renovate/labels.json
  .github/renovate/semanticCommits.json
Labels: area/github

feat: SUC it
  .github/renovate.json5
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/flux/deploy/cluster-orchestration.yaml
  k8s/clusters/cluster-0/flux/orchestration/core-system-upgrade.yaml
  k8s/clusters/cluster-0/flux/orchestration/kustomization.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
  k8s/clusters/cluster-0/manifests/namespaces/kustomization.yaml
  k8s/clusters/cluster-0/manifests/namespaces/system-upgrade.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/app/rbac.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/github, area/kubernetes

fix: remove label
  k8s/clusters/cluster-0/flux/orchestration/core-system-upgrade.yaml
Labels: area/kubernetes

fix: remove label
  k8s/clusters/cluster-0/flux/orchestration/core-system-upgrade.yaml
Labels: area/kubernetes

fix: announce eth0.20
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/l2announcementpolicy.yaml
Labels: area/kubernetes

fix: go back to bgp
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: pwned by the cillium bug in 1.15.4?
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: that's a yep
  infrastructure/talos/cluster-0/integrations/cni/kustomization.yaml
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: migrate nut config to new resource
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: wait for ceph to be healthy
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(renovate): match everywhere
  .github/renovate.json5
Labels: area/github
