Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

fix: manual bump kubernetes to v1.30.0
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(media): exclude non-english releases
  k8s/clusters/cluster-0/manifests/media/recyclarr/recyclarr.yml
Labels: area/kubernetes

feat: bring authentik into 2024
  k8s/clusters/cluster-0/flux/orchestration/apps-security.yaml
  k8s/clusters/cluster-0/manifests/security/authentik/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/security/authentik/helm-release.yaml
Labels: area/kubernetes

fix: disable rdb persistenace (thanks JJ)
  k8s/clusters/cluster-0/manifests/security/authentik/helm-release.yaml
Labels: area/kubernetes

fix: enable metrics
  k8s/clusters/cluster-0/manifests/security/authentik/helm-release.yaml
Labels: area/kubernetes

fix: set pvc to 1Gi
  k8s/clusters/cluster-0/manifests/security/authentik/helm-release.yaml
Labels: area/kubernetes

fix: move arrs to develop branch
  k8s/clusters/cluster-0/manifests/media/prowlarr/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
Labels: area/kubernetes

fix: update schema to v1
  k8s/clusters/cluster-0/flux/repositories/helm/angelnu-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/authentik-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/backube-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/banzaicloud-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/blakeshome-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/cilium-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/cloudnative-pg-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/codeweave-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/coredns-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/dex-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/dysnix-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/emqx-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/external-secrets.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/fairwinds-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/grafana-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/hajimari-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/hashicorp-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/infracloudio-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/ingress-nginx-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/intel-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/kubernetes-sigs-descheduler-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/kubernetes-stable-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/kyverno-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/nfs-subdir-external-provisioner-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/node-feature-discovery-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/piraeus-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/postfinance-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/rook-ceph-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/vector-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/vernemq-charts.yaml
  k8s/global/flux/repositories/helm/bitnami-charts.yaml
  k8s/global/flux/repositories/helm/bjw-s-charts.yaml
  k8s/global/flux/repositories/helm/bjw-s.yaml
  k8s/global/flux/repositories/helm/jetstack-charts.yaml
  k8s/global/flux/repositories/helm/k8s-at-home-charts.yaml
  k8s/global/flux/repositories/helm/kubernetes-sigs-metrics-server-charts.yaml
  k8s/global/flux/repositories/helm/kubernetes-sigs-nfd-charts.yaml
  k8s/global/flux/repositories/helm/prometheus-community-charts.yaml
  k8s/global/flux/repositories/helm/stakater-charts.yaml
Labels: area/kubernetes

fix: remove deprecated Json patches
  k8s/clusters/cluster-0/manifests/home/emqx/helm-release.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

update quick install
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

fix: damned regex
  .github/renovate.json5
  infrastructure/ansible/router/inventory/group_vars/all/frr_exporter.yml
  infrastructure/ansible/router/inventory/group_vars/all/k8s_gateway.yml
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/github, area/kubernetes

fix: renovate grafana dashboards??
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix: well isn't that something :facepalm:
  .github/renovate/allowedVersions.json
Labels: area/github

fix: disable digest pin
  .github/renovate.json5
Labels: area/github

fix: remove quotes
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: remove quotes here too
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

chore(renovate): clean up groups
  .github/renovate/groups.json
Labels: area/github

fix(renovate): match all sources
  .github/renovate/groups.json
Labels: area/github

fix(renovate): fireflyiii loose versioning
  .github/renovate.json5
Labels: area/github

fix(renovate): fireflyiii custom versioning
  .github/renovate.json5
Labels: area/github

feat(network): deploy second external-dns
  k8s/clusters/cluster-0/flux/orchestration/apps-network.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/kustomization.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/dnsendpoint-crd.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/cloudflare/kustomization.yaml
Labels: area/kubernetes

fix(monitoring): scrape blocky metrics
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

fix(monitoring): add grafana dashboards
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix: include namespace
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

fix: blocky ip
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

fix(cilium): enable l2 announce
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

chore: fix broken link
  README.md
Labels: none

feat(cluster): switch from haproxy to vip
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: disable bgp
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: has l2 been broken all this time? :sob:
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix(cilium): re-address loadbalancers
  k8s/clusters/cluster-0/manifests/home/emqx/helm-release.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/kustomization.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/l2announcementpolicy.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/loadbalancerippool.yaml
  k8s/clusters/cluster-0/manifests/media/jellyfin/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/vector/aggregator/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/external/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes

fix: takes a list
  k8s/clusters/cluster-0/manifests/kube-system/cilium/config/l2announcementpolicy.yaml
Labels: area/kubernetes

fix(monitoring): update controller url
  k8s/clusters/cluster-0/manifests/monitoring/unifi-poller/helm-release.yaml
Labels: area/kubernetes

fix: disable pings
  k8s/clusters/cluster-0/manifests/home/esphome/helm-release.yaml
Labels: area/kubernetes

fix(monitoring): update service monitoring
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/services-node-exporter.yaml
Labels: area/kubernetes

fix: update blocky url
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix: parents nextdns
  k8s/clusters/cluster-0/manifests/monitoring/nextdns-exporter/secret.sops.yaml
Labels: area/kubernetes

feat(macvlan): Set fixed MAC addresses
  k8s/clusters/cluster-0/manifests/home/esphome/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

feat(cluster): disable mitigations
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

chore: remove wyoming
  k8s/clusters/cluster-0/flux/orchestration/apps-home.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-piper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-piper/kustomization.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-whisper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-whisper/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
