Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/global/**/*"
      - any-glob-to-any-file: "k8s/clusters/**/*"

fix(ci): migrate renovate config
  .github/renovate.json5
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.11.2319
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

chore(deps): update xanmanning.k3s to v3.4.3
  infrastructure/ansible/requirements.yml
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.1.4146
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

feat(helm)!: Update chart app-template to 2.4.0
  k8s/clusters/cluster-0/manifests/collab/firefly-iii/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/firefly-iii/importer/cronjob.yaml
  k8s/clusters/cluster-0/manifests/collab/firefly-iii/importer/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/joplin-server/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/ntfy/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
  k8s/clusters/cluster-0/manifests/collab/radicale/helm-release.yaml
  k8s/clusters/cluster-0/manifests/database/postgres-backup/helm-release.yaml
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
  k8s/clusters/cluster-0/manifests/games/vrising/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/esphome/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/node-red/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-piper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/wyoming-whisper/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/helm-release.yaml
  k8s/clusters/cluster-0/manifests/kube-system/intel-device-plugin/exporter/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/bazarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/jellyfin/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/overseerr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/plex-meta-manager/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/media/plex-trakt-sync/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/recyclarr/cron-job.yaml
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/tautulli/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/karma/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/nextdns-exporter/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/speedtest-exporter/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/unifi-poller/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/vector/aggregator/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/cloudflared/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/k8s-gateway/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.2.4.8328
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4148
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.12.2323
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/taxel/plextraktsync to 0.27.13
  k8s/clusters/cluster-0/manifests/media/plex-trakt-sync/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.14
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.2.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.17.0
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.3.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update cert-manager group to v1.13.3
  k8s/clusters/cluster-0/crds/cert-manager/kustomization.yaml
  k8s/clusters/cluster-0/manifests/cert-manager/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.734
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 55.3.1
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.17
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4152
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.12.2324
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

feat(github-release): update flux to v2.2.0
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.41.1
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to 2.1.2
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.54
  k8s/clusters/cluster-0/manifests/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.4.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.18.0
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

chore(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  k8s/clusters/cluster-0/manifests/flux-system/add-ons/notifications/discord/notification.yaml
Labels: area/kubernetes

chore(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  k8s/clusters/cluster-0/manifests/flux-system/add-ons/notifications/discord/notification.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.12.10
  k8s/clusters/cluster-0/crds/rook-ceph/crds.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4153
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

feat(github-release): update rook-ceph-source to v1.13.0
  k8s/clusters/cluster-0/crds/rook-ceph/crds.yaml
Labels: area/kubernetes

feat(helm): update rook ceph group to v1.13.0
  k8s/clusters/cluster-0/crds/rook-ceph/crds.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4154
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update cilium group
  infrastructure/talos/cluster-0/integrations/cni/kustomization.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart kube-prometheus-stack to 55.4.1
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm)!: Update chart vpa to 4.0.0
  k8s/clusters/cluster-0/manifests/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/bjw-s/calibre-web to
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/bjw-s/calibre-web to
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/bjw-s/calibre-web to
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
Labels: area/kubernetes
