Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix(monica): change app
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
Labels: area/kubernetes

fix(media): remove calibre-web limits
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
Labels: area/kubernetes

fix(ci): group dex releases
  .github/renovate/groups.json
Labels: area/github

fix: exclude multus from kyverno
  k8s/clusters/cluster-0/manifests/network/multus/app/helm-release.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

fix(network): increase multus memory limit
  k8s/clusters/cluster-0/manifests/network/multus/app/helm-release.yaml
Labels: area/kubernetes

fix(network): bump multus chart and set log to error
  k8s/clusters/cluster-0/manifests/network/multus/app/helm-release.yaml
Labels: area/kubernetes

fix(ci): group multus images and chart
  .github/renovate/groups.json
Labels: area/github

update quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/values.yaml
Labels: none

update cluster id
  infrastructure/talos/cluster-0/integrations/cni/values.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

feat(media): Upgrade Overseerr Chart to 3.3.2
  k8s/clusters/cluster-0/manifests/media/overseerr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/overseerr/kustomization.yaml
  k8s/clusters/cluster-0/manifests/media/overseerr/pvc.yaml
Labels: area/kubernetes

feat: mass update charts to app-template 3.3.2
  k8s/clusters/cluster-0/manifests/database/dragonfly/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/autobrr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

fix(downloads): expose qbittorrent
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix(download): expose port 9000
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix(downloads): disable vpn
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix(downloads): shields up
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

feat(media): upgrade recyclarr
  k8s/clusters/cluster-0/manifests/media/recyclarr/cron-job.yaml
Labels: area/kubernetes

fix: dragonfly dependencies
  k8s/clusters/cluster-0/flux/orchestration/apps-collab.yaml
  k8s/clusters/cluster-0/flux/orchestration/apps-home.yaml
  k8s/clusters/cluster-0/flux/orchestration/apps-security.yaml
Labels: area/kubernetes

fix(recyclarr): renamed to assign_scores_to
  k8s/clusters/cluster-0/manifests/media/recyclarr/recyclarr.yml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/siderolabs/kubelet to v1.31.1 (#5165)"
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(network): unifi healthcheck probes
  k8s/clusters/cluster-0/manifests/network/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

chore(network): delete bind release
  k8s/clusters/cluster-0/flux/orchestration/apps-network.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/kustomization.yaml
Labels: area/kubernetes

fix: kromgo badges
  README.md
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

fix(system-upgrade): now supports talos upstream
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes

fix: downgrade flux until I figure this out
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

fix: remove banzaicloud
  k8s/clusters/cluster-0/flux/repositories/helm/banzaicloud-charts.yaml
  k8s/clusters/cluster-0/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(vpn): someone was high?
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(vpn): privileged container
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

Revert "fix(vpn): someone was high?"
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to 16.4-45
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(rook): replace node-2 ceph ssd
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

apply local dns server
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(cilium): deprecated setting
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/values.yaml
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix(cert-manager): deprecated webhook setting
  k8s/clusters/cluster-0/manifests/cert-manager/helm-release.yaml
Labels: area/kubernetes

feat(renovate): limit postgresql updates
  .github/renovate.json5
  .github/renovate/allowedVersions.json
Labels: area/github

fix: test out libtorrent2 memory improvements
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
Labels: area/kubernetes

fix(ci): invalid renovate setting
  .github/renovate.json5
Labels: area/github

fix(ci): auto-merge onedr0p containers
  .github/renovate/autoMerge.json
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/recyclarr/cron-job.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/github, area/kubernetes

fix: increase emqx memory
  k8s/clusters/cluster-0/manifests/home/emqx/helm-release.yaml
Labels: area/kubernetes

fix(kyverno): deprecated field
  k8s/clusters/cluster-0/manifests/kyverno/policies/remove-cpu-limit.yaml
Labels: area/kubernetes
