Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat: deploy unifi webhook :eyes:
  k8s/clusters/cluster-0/flux/orchestration/apps-network.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/bind/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/unifi/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/unifi/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/external-dns/unifi/kustomization.yaml
Labels: area/kubernetes

fix(cluster): update nut server
  infrastructure/talos/cluster-0/talconfig.yaml
  infrastructure/talos/cluster-0/talenv.yaml
Labels: none

chore: clear up prometheus targets
  k8s/clusters/cluster-0/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/dashboards/opnsense.json
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/dashboards/opnsense.json
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/nas-node-exporter.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/nas-smartctl-exporter.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/opnsense-coredns.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/opnsense-frr-exporter.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/opnsense-haproxy.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/servicemonitors/services-node-exporter.yaml
Labels: area/kubernetes

fix(system-upgrade): rook check is too fast... let's not do that again!
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(network): deprecate k8s-gateway
  k8s/clusters/cluster-0/flux/orchestration/apps-network.yaml
  k8s/clusters/cluster-0/manifests/network/k8s-gateway/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/k8s-gateway/kustomization.yaml
  k8s/clusters/cluster-0/manifests/network/k8s-gateway/rbac.yaml
Labels: area/kubernetes

fix: downgrade rook to v1.14.4
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
  k8s/clusters/cluster-0/manifests/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(ci): update helm differ flux api versions
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix: manual bump kometa v2.0.2
  k8s/clusters/cluster-0/manifests/media/kometa/helmrelease.yaml
Labels: area/kubernetes

fix: renovate why you ignore
  k8s/clusters/cluster-0/manifests/media/kometa/helmrelease.yaml
Labels: area/kubernetes

feat: aeoooo
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

feat(cluster): enable jumbo frames
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: move prometheus misc rules
  k8s/clusters/cluster-0/flux/orchestration/core-monitoring.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/prometheusrule.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/rules/dockerhub.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/rules/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/miscellaneous/rules/nas.yaml
Labels: area/kubernetes

fix(home): remove esphome memory limit
  k8s/clusters/cluster-0/manifests/home/esphome/helm-release.yaml
Labels: area/kubernetes

fix: scrape new nas
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

fix: ui lovelace minimalist is broken
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/onedr0p/home-assistant to 2024.6.3 (#4957)"
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(media): prevent volsync from backing up Plex cache
  k8s/clusters/cluster-0/manifests/media/plex/config-pvc.yaml
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
Labels: area/kubernetes

fix: summon duriel
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

feat(nas): flip the switch :fire:
  README.md
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
  k8s/clusters/cluster-0/manifests/database/postgres-backup/helm-release.yaml
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/hajimari/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/bazarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/jellyfin/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/tautulli/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/blackbox-exporter/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/scrapeconfig.yaml
Labels: area/kubernetes

fix: paperless external-services user
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix: update user groups
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
  k8s/clusters/cluster-0/manifests/database/postgres-backup/helm-release.yaml
  k8s/clusters/cluster-0/manifests/downloads/qbittorrent/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/bazarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/calibre-web/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/jellyfin/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/tautulli/helm-release.yaml
Labels: area/kubernetes

fix: frigate external-services user
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix: frigate group
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix: we have an oopsie
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix: test radarr mount path
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
Labels: area/kubernetes

fix all the backups
  k8s/clusters/cluster-0/manifests/media/bazarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: move nut to pikvm
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/helm-release.yaml
Labels: area/kubernetes

fix: update health check
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix: chart version doesn't exist
  k8s/clusters/cluster-0/manifests/kube-system/metrics-server/helm-release.yaml
  k8s/clusters/cluster-0/manifests/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

fix: reloader seems to be in a pickle
  k8s/clusters/cluster-0/manifests/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

fix: update nut host ip
  infrastructure/talos/cluster-0/talenv.yaml
Labels: none

Revert "fix(container): update image ghcr.io/siderolabs/installer to v1.7.5 (#4981)"
  infrastructure/talos/cluster-0/talconfig.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-config.yaml
Labels: area/kubernetes

fix: power-cycle to avoid hanging nodes
  k8s/clusters/cluster-0/manifests/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(kometa): fix ratings updates
  k8s/clusters/cluster-0/manifests/media/kometa/configs/config.yml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/koenkk/zigbee2mqtt to 1.39.0 (#5012)"
  k8s/clusters/cluster-0/manifests/home/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(cluster): Disable hostDNS resolver
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: generate quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

fix(ci): import YAML
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

test
  k8s/clusters/cluster-0/manifests/kyverno/base/helm-release.yaml
Labels: area/kubernetes

try this
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github
