Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

feat(github-release): update flux to v2.2.1
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.2.1
  k8s/clusters/cluster-0/manifests/flux-system/add-ons/dashboard/kustomization.yaml
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to 2023.12.3
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4156
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.737
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.5.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.4
  k8s/clusters/cluster-0/manifests/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.12.2326
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

feat(home): migrate monica to app-template
  k8s/clusters/cluster-0/flux/orchestration/apps-home.yaml
  k8s/clusters/cluster-0/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/database/externalsecret.yaml
  k8s/clusters/cluster-0/manifests/home/monica/database/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/database/kustomization.yaml
  k8s/clusters/cluster-0/manifests/home/monica/database/secret.sops.yaml
  k8s/clusters/cluster-0/manifests/home/monica/kustomization.yaml
Labels: area/kubernetes

fix: admission controller is deprecated
  k8s/clusters/cluster-0/manifests/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(home): migrate monica to app-template
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
Labels: area/kubernetes

fix: add missing schemas
  k8s/clusters/cluster-0/manifests/collab/ntfy/helm-release.yaml
  k8s/clusters/cluster-0/manifests/database/postgres-backup/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/database/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/plex-meta-manager/helmrelease.yaml
  k8s/clusters/cluster-0/manifests/monitoring/goldilocks/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/snmp-exporter/apc-ups/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/cloudflared/helm-release.yaml
  k8s/clusters/cluster-0/manifests/security/external-secrets/helm-release.yaml
  k8s/clusters/cluster-0/manifests/volsync/helm-release.yaml
  k8s/clusters/cluster-0/manifests/vpn/pod-gateway/downloads/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to 2.1.3
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

feat: upgrade crds
  k8s/clusters/cluster-0/manifests/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4158
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/oriedge/k8s_gateway to v0.4.0
  k8s/clusters/cluster-0/manifests/network/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.10
  k8s/clusters/cluster-0/manifests/security/external-secrets/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.12.2327
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.2.4160
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

feat: deploy kromgo
  k8s/clusters/cluster-0/flux/orchestration/core-monitoring.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/kustomization.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/resources/config.yaml
Labels: area/kubernetes

chore: update README.md and add LICENSE
  LICENSE
  README.md
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

chore: remove mkdocs
  .github/workflows/docs-publish.yaml
  README.md
  docs/_static/custom.css
  docs/general/hardware.md
  docs/index.md
  docs/talos/installation.md
  mkdocs.yaml
Labels: area/ci

chore: update README.md
  README.md
Labels: none

feat(container): update image joplin/server to 2.14.1
  k8s/clusters/cluster-0/manifests/collab/joplin-server/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.33.0
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thecodingmachine/gotenberg to 7.10.2
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/kromgo to 0.2.4
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 4.0.1
  k8s/clusters/cluster-0/manifests/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.13.2329
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 0.3.13.2331
  k8s/clusters/cluster-0/manifests/media/readarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.19
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 4.0.0.738
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(github-release): update flux to v2.2.2
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.2.2
  k8s/clusters/cluster-0/manifests/flux-system/add-ons/dashboard/kustomization.yaml
  k8s/global/flux/repositories/git/flux.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 1.11.3.4162
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to 5.2.5.8361
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.20.0
  k8s/clusters/cluster-0/manifests/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to
  k8s/clusters/cluster-0/manifests/collab/paperless/application/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/global/**/*"
      - any-glob-to-any-file: "k8s/clusters/**/*"
