Repository rust84/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: k8s/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

chore(ci): remove link check config
  .github/markdown-link-check_config.json
  .github/markdownlint.config.yaml
Labels: area/github

feat(ci): replace helm diff script
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/helm-release-differ.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

fix(ci): upadate differ helm api to v2beta2
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix(ci): workaround for duplicated bjw-s repos
  k8s/global/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes

update quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

fix(ci): helm diff kube-version 1.29
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

fix(volsync): increase Jellyfin cache to 5G
  k8s/clusters/cluster-0/manifests/media/jellyfin/volsync.yaml
Labels: area/kubernetes

fix(ceph): disable dashboard ssl
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(cluster): upgrade talos to v1.6.2
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

feat(cluster): upgrade talos to v1.6.2
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix(ceph): remove ssl backend annotation
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix: home-assistant custom image (HASS wheels repo)
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix: bjw-s helm
  k8s/global/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: change home-assistant image back to onedr0p's repo
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

replace the deprecated tunnel option with routingMode
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

update quick installer manifest
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
  infrastructure/talos/cluster-0/integrations/cni/values.yaml
Labels: none

fix(database): cnpg dashboard will be included in chart 0.20.1
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/app/kustomization.yaml
Labels: area/kubernetes

feat(cluster): upgrade k8s to v1.29.1
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

fix: frigate image repo moved to ghcr
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
Labels: area/kubernetes

fix: up prowlarr resources
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix: slack off prowlarr health probes
  k8s/clusters/cluster-0/manifests/media/prowlarr/helm-release.yaml
Labels: area/kubernetes

fix: grafana dashboards moved
  k8s/clusters/cluster-0/manifests/database/cloudnative-pg/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix: grafana breaking change
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

enable Hubble dashboards
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: disable hubble dashboard sources
  k8s/clusters/cluster-0/manifests/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix: disable Hubble dashboards
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

feat: migrate frigate to app-template V2
  k8s/clusters/cluster-0/manifests/home/frigate/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/monica/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/radarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sonarr/helm-release.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kromgo/helm-release.yaml
Labels: area/kubernetes

fix(rook): set dashboard prometheus endpoint
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix: adjust media resources
  k8s/clusters/cluster-0/manifests/media/jellyfin/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/plex/helm-release.yaml
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

update quick-install
  infrastructure/talos/cluster-0/integrations/cni/quick-install.yaml
Labels: none

fix: disable fireflyiii volsync backup
  k8s/clusters/cluster-0/manifests/collab/firefly-iii/app/volsync.yaml
Labels: area/kubernetes

fix(rook): typo
  k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix: broken link
  README.md
Labels: none

fix: update kvm metrics pass
  k8s/clusters/cluster-0/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(media): sabnzbd resource
  k8s/clusters/cluster-0/manifests/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

feat(cluster): add IoT VLAN
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: none

feat(network): deploy multus
  k8s/clusters/cluster-0/flux/orchestration/apps-network.yaml
  k8s/clusters/cluster-0/manifests/network/multus/app/helm-release.yaml
  k8s/clusters/cluster-0/manifests/network/multus/app/kustomization.yaml
  k8s/clusters/cluster-0/manifests/network/multus/config/kustomization.yaml
  k8s/clusters/cluster-0/manifests/network/multus/config/net-attach-iot.yaml
  k8s/global/flux/vars/global-config.yaml
Labels: area/kubernetes

feat(home): add multus pod annotations
  k8s/clusters/cluster-0/manifests/home/esphome/helm-release.yaml
  k8s/clusters/cluster-0/manifests/home/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(cilium): allow cilium to work with multus
  k8s/clusters/cluster-0/manifests/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix(network): edit routes
  k8s/clusters/cluster-0/manifests/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes
